body {
    background-color: rgb(233, 212, 168);
}


.about_img {
    width: 20%;
    margin: 10px auto 10px auto;
    
}

.navbar {
    background-color: rgb(214, 159, 75);
}

h1 {
    margin: 25px auto 25px auto;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}